body {
    font-family: 'Rubik', sans-serif;
    margin: 0%;
}

.top-banner {
    display: flex;
}

span {
    color: orange;
}

.first-width {
    width: 50%;
    padding-right: 30px;
}

.top-margin {
    width: 50%;
    margin-top: 170px;
    margin-left: 60px;
}

h1 {
    font-size: 50px;
}

.first-anchor {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
}

.mid-banner {
    display: flex;
    background-image: url("images/7.png");
    background-repeat: no-repeat;
}

.mid-width img {
    width: 80%;
}

.mid-width {
    width: 50%;
    padding-left: 70px;
    padding-top: 50px;
}

.second-box {
    padding-top: 80px;
    padding-right: 150px;
}

h2 {
    font-size: 40px;
}

.second-anchor {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
}

.third-flex {
    display: flex;
}

.third-width {
    width: 30%;
    margin: 40px;
    padding: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px 20px 2px gray;
    border-radius: 20px;
}

.third-width img {
    width: 100%;
}

.my-recipies {
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
}

.fourth-flex {
    display: flex;
    margin: 40px;
    padding: 30px;
    border: 5px solid white;
    box-shadow: 5px 5px 20px 2px gray;
    border-radius: 20px;
}

.fourth-width {
    width: 30%;
    padding-left: 100px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-line {
    color: gray;
}

.topnav {
    overflow: hidden;
    background-color: rgb(67, 73, 73);
}

.topnav a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.topnav a.active {
    background-color: orangered;
    color: white;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.last-banner {
    background-color: gray;
    margin: 40px;
    padding: 15px 60px;
    border-radius: 20px;
}

.third-anchor {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(71, 224, 178), rgb(11, 97, 78));
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.fourth-anchor {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(71, 224, 178), rgb(11, 97, 78));
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
}

div input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.order {
    color: black;
}